docs/n8n/satriz-lead-telegram.json
{
  "name": "Satriz — Lead para Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "satriz-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "ded83d84-66de-41bf-9c2e-dc98daf1ec18",
      "name": "Webhook Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "ded83d84-66de-41bf-9c2e-dc98daf1ec18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7806f085-eab8-4945-88c5-9189eaee3208",
              "leftValue": "={{ $json.headers['x-satriz-secret'] }}",
              "rightValue": "yYqnXNArrjNyowO7Ydmb-BEGlp2Pmxa9NHn07MhEDrc",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adade940-b680-4fc5-a20d-2e7361c37b18",
      "name": "Segredo confere?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "chatId": "5128862482",
        "text": "=🔔 <b>Novo lead — Satriz</b>\n\n<b>Nome:</b> {{ $json.body.nome }}\n<b>Contato:</b> {{ $json.body.contato }}\n<b>Origem:</b> {{ $json.body.origem }}\n<b>Tipo:</b> {{ $json.body.tipo || '—' }}\n<b>Mensagem:</b> {{ $json.body.mensagem || '—' }}\n\n🕒 {{ $json.body.criadoEm }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a6b41d2b-980b-469d-98b4-2a006d21fddd",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [740, 200],
      "credentials": {
        "telegramApi": {
          "id": "SUBSTITUA_PELA_CREDENCIAL",
          "name": "Satriz Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Lead": {
      "main": [
        [
          {
            "node": "Segredo confere?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segredo confere?": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
